* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 1vw;
}
body {
  width: 70vw;
  margin: 0 auto;
  height: 100vh;
}
section {
  margin-bottom: 2vw;
  height: 43vh;
}

h1 {
  color: #374b78;
  text-transform: uppercase;
  font-size: 1.8vw;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  width: 11vw;
}

/* Slide 1 */
.factory-section {
  border: 1px solid #000;
  background-color: #f8eee1;
}
.heading {
  width: 21vw;
  font-size: 1.5vw;
  height: 7vh;
  padding: 0.7vw 4vw;
  text-transform: capitalize;
  clip-path: polygon(0% 0%, 100% 0, 92% 50%, 100% 100%, 0% 100%);
  position: relative;
  background-color: #000;
}
.heading::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 98%;
  top: 0px;
  right: 2px;
  clip-path: polygon(0% 0%, 100% 0, 92% 50%, 100% 100%, 0% 100%);
  background-color: #f8eee1;
}
.heading h2 {
  font-size: 1.5vw;
  position: absolute;
  z-index: 1;
}
.content-wrapper {
  padding: 1.5vw 0 1.5vw 0.7vw;
  display: flex;
  gap: 0.7vw;
  justify-content: space-between;
  height: 85%;
}

.text-side {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
}

.paragraph {
  padding: 1% 1.5%;
  margin-bottom: 1%;
  text-align: left;
  font-size: 2%;
  background-color: #fff;
}

.first {
  border: 1px solid #000;
  margin-right: 3%;
  height: 40%;
  opacity: 0;
  animation: fadeIn 2s forwards;
}
.first p::first-letter {
  font-weight: bold;
}
.second {
  border: 1px solid #000;
  margin-right: 6%;
  text-align: justify;
  height: 33%;
  opacity: 0;
  animation: fadeIn 2s 1s forwards;
}
.third {
  display: flex;
  border: 1px solid #000;
  margin-right: 9%;
  margin-bottom: 0;
  align-items: center;
  height: 22%;
  opacity: 0;
  animation: fadeIn 2s 2s forwards;
}
.third img {
  margin-right: 2%;
  padding: 0;
  width: 6%;
  height: 90%;
}

/* Robot */
.robot-side {
  border: 1px solid #000;
  width: 35%;
  height: 100%;
  background-color: #fff;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
}

.robot {
  width: 100%;
  height: 90%;
  position: relative;
}

/* head of robot */

.head {
  width: 17%;
  height: 25%;
  border-radius: 50%;
  border: 1px solid #000;
  position: absolute;
  left: 42%;
  top: 3%;
}

.left-eye {
  width: 22%;
  height: 24%;
  border: 1px solid #000;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 12%;
}
.right-eye {
  width: 22%;
  height: 24%;
  border: 1px solid #000;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  right: 12%;
}
.mouth {
  width: 50%;
  height: 10%;
  border: 1px solid #000;
  border-radius: 95%;
  position: absolute;
  top: 65%;
  right: 25%;
  animation: robotSpeak 3s infinite;
}
.chest {
  width: 25%;
  height: 42%;
  background-color: #ff6600;
  clip-path: polygon(0 0, 100% 0, 77% 100%, 23% 100%);
  position: absolute;
  top: 28%;
  left: 37%;
}
.left-hand {
  width: 4%;
  height: 33%;
  background-color: #e9e8e8;
  border: 1px solid #000;
  border-radius: 3px;
  position: absolute;
  top: 32%;
  left: 34%;
}
.right-hand {
  width: 4%;
  height: 33%;
  background-color: #e9e8e8;
  border: 1px solid #000;
  border-radius: 3px;
  position: absolute;
  top: 32%;
  right: 35%;
}
.left-leg {
  width: 4.5%;
  height: 26%;
  border: 1px solid #000;
  border-radius: 2px;
  position: absolute;
  bottom: 4%;
  left: 43%;
}
.right-leg {
  width: 4.5%;
  height: 26%;
  border: 1px solid #000;
  border-radius: 2px;
  position: absolute;
  bottom: 4%;
  right: 44%;
}

.robot-side p {
  margin: 10px auto;
}

/* Create robot */
.create-robot {
  border: 1px solid #000;
  background-color: #b5ddb5;
}
.title {
  font-size: 1.4vw;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4vw 0;
  border-bottom: 1px solid #000;
}
.option-box {
  display: flex;
  justify-content: space-between;
  padding: 2% 2% 0 2%;
  height: 40%;
}
.input-name {
  width: 22%;
}
.input-name input {
  padding-left: 3%;
}

.select-type {
  width: 22%;
}
.option-box p {
  margin-bottom: 4%;
}
.box input,
select {
  border-radius: 5px;
  height: 35%;
  width: 100%;
}
.option {
  display: flex;
  align-items: center;
  margin: 15% 0;
}
.options input {
  margin-right: 5%;
}
.write-comments textarea {
  width: 100%;
  height: 90%;
  resize: none;
  border: 1px solid #000;
  text-align: center;
  padding-top: 25%;
}
.buttons {
  padding: 0 2%;
  border-bottom: 1px solid #000;
}
.button {
  margin-right: 3%;
  margin-bottom: 2%;
  padding: 1% 4%;
  border-radius: 5px;
  border: 1px solid #000;
}

/* Animation */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes robotSpeak {
  0% {
    border-radius: 50%;
    width: 35%;
    height: 40%;
    top: 59%;
    right: 33%;
  }
  33% {
    width: 50%;
    height: 20%;
    border-radius: 95%;
    top: 64%;
    right: 24%;
  }

  100% {
    width: 50%;
    height: 20%;
    border-radius: 95%;
    top: 64%;
    right: 24%;
  }
}
